<section
  class="featured--movie"
  [style]="handleFeaturedMovieStyle()"
  *ngIf="model.backdrop_path"
>
  <div class="featured--vertical">
    <div class="featured--horizontal">
      <div class="featured--name">{{ model.name }}</div>
      <div class="featured--info">
        <div class="featured--points">{{ model.vote_average }} pontos</div>
        <div class="featured--year">{{ getFullYear() }}</div>
        <div class="featured--seasons">
          {{ renderSeasons() }}
        </div>
      </div>
      <div class="featured--description">{{ renderDescription() }}</div>
      <div class="featured--buttons">
        <a [routerLink]="['watch', 'tv', model.id]" class="featured--watchbutton">
          <div style="display: flex">
            <span class="material-icons">play_arrow</span>
            <span>Assistir</span>
          </div>
        </a>
        <a href="" class="featured--mylistbutton">
          <div style="display: flex">
            <span class="material-icons">add</span>
            <span>Minha Lista</span>
          </div>
        </a>
      </div>
      <div class="featured--genres">
        <strong>Gêneros: </strong> {{ getGenres() }}
      </div>
    </div>
  </div>
</section>
